body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    background-image: url('file:///C:\Users\Tyler\Documents\GitHub\Tyler-Wisniewski.github.io\header_background.jpg');
   
}