body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: inherit;
    background-color: #363940;
    color: #99aab5;
}    
    
.text {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: inherit;
    background-color: #363940;
    color: #99aab5;
}


.headerimg {
    position: relative;
    text-align: center;
    color: snow;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("header_background .jpg");
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color:snow;
}

.navbar {
    background-color: #363940;
    width: 100%;
    height: 35px;
    z-index: 1;
    position: static;
    color: #99aab5;
    font: inherit;
}

.navbartitle{
   text-align:left
       
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
.navbartitle {
    position: relative;
    text-align: left;
    padding-right: 40px;
    color: #99aab5;
>>>>>>> parent of 17d4960... triple fix home button
>>>>>>> parent of 0bf2bfe... hexadecimal fix things
=======
>>>>>>> parent of d91e92e... I crave death parallax no work
=======
>>>>>>> parent of d91e92e... I crave death parallax no work
}

.navbartextfirst {
    text-align: start;
    padding-left: 40px;
    text-decoration-line: none;
    color: #99aab5;
}
.navbartext {
    text-align: start;
    padding-left: 10px;
    text-decoration-line: none;
    color: #99aab5;
    
}

.para {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    text-decoration: none;
    color: #99aab5;
}

body, html {
    height: 100%;
}



@media only screen and (max-device-width: 1366px) {
    .headerimg {
        background-attachment: scroll;
    }
}